################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningPath/.vs
/LearningPath/LearningPath.Console/obj
/LearningPath/LearningPath.Console/bin/Debug/net8.0
/LearningPath/LearningPath.Data/bin/Debug/net8.0
/LearningPath/LearningPath.Data/obj
/LearningPath/LearningPath.Service/bin/Debug/net8.0
/LearningPath/LearningPath.Service/obj
